body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.background-container {
    background-image: url('https://assets-global.website-files.com/640885a438a8cac228718a04/644a5d1a763bd06a75c59e67_carsharing_carpooling_hero.webp');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.ride-options {
    display: flex;
    justify-content: center;
}

.ride-option {
    background-color:white;
    padding: 60px; /* Adjusted padding */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 30px;
    opacity: 0.95;
    margin-bottom: 30px;
    
    
}

.ride-option:last-child {
    margin-right: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}
