body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*n-6mh-5LUdlePB0H1u776Q.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
}

header {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.polling-container,
.rental-container {
    background-color: #f7f7f7;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    width: 40%; /* Adjust the width of the containers */
    margin-right: 20px;
}

.rental-container {
    margin-right: 0;
}

.polling-container h2,
.rental-container h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.polling-container p,
.rental-container p {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
button {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}
