body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-container {
    background-image: url(https://cdni.iconscout.com/illustration/premium/thumb/taxi-driver-open-door-for-passenger-5066938-4246715.png);
    background-repeat: no-repeat;
    background-size:  45%;
    background-position:center;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
}

.login-container, .register-container {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form, .register-form {
    text-align: left;
}

.login-form h1, .register-form h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.glow-on-hover {
    transition: 0.4s;
}

.glow-on-hover:hover {
    box-shadow: 0 0 10px 5px #6eb7ff;
}

.register-link {
    margin-top: 20px;
}

.hidden {
    display: none;
}
